Repository razzius/weave: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, eslint

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: pipenv run flake8

eslint:
  name: eslint
  stages:
  - commit
  language: system
  entry: yarn run eslint

Add welcome message to home page and redirect to that upon successful login
  src/App.css
  src/Home.js
  src/VerifiedView.js
  src/VerifyEmail.js
Due: eslint

Restyle welcome message
  src/App.css
  src/App.js
  src/Home.js
Due: eslint

Fix cli command create-session token argument
  server/cli.py
Due: flake8

wip form as though everybody is student, incl hardcoded options
  server/models.py
  src/App.css
  src/InstitutionalAffiliationsForm.js
  src/ProfileForm.js
Due: flake8, eslint

Pass whether a profile belongs to faculty or student and use that to link to the appropriate list view
  server/schemas.py
  server/views/api.py
  src/HomeActions.js
  src/ProfileView.js
  src/api.js
Due: flake8, eslint

Students and faculty should have link to "my profile" / "create profile" in top bar
  src/App.js
Due: eslint

Use react-router-hash-link to link to "How do I create a profile?"
  package.json
  src/HomeActions.js
  yarn.lock
Due: eslint

.gitignore .vagrant and .vscode
  .gitignore
Due: none

2 lines for welcome message
  src/Home.js
Due: eslint

Fix hash link to video
  src/HomeActions.js
Due: eslint

Make starring profiles use verification email
  Pipfile.lock
  server/models.py
  server/queries.py
  server/views/api.py
  tests/test_get_profile.py
  tests/test_get_profiles.py
  tests/test_matching_profiles.py
  tests/test_star_profile.py
Due: flake8

Start to split base from faculty profile fields
  Pipfile
  server/models.py
  tests/test_student_profile.py
Due: flake8

Leaving out student life checkbox for now
  server/models.py
Due: flake8

Split out profile multi-select fields by faculty and student; complete student profile model
  server/models.py
  server/queries.py
  server/views/api.py
  tests/test_get_public_tags.py
  tests/test_query_profile_tags.py
  tests/test_query_searchable_tags.py
Due: flake8

Rename Profile to FacultyProfile
  server/admin.py
  server/cli.py
  server/models.py
  server/queries.py
  server/views/api/__init__.py
  tests/test_custom_tag.py
  tests/test_get_public_tags.py
  tests/test_update_availability.py
  tests/test_update_profile.py
  tests/utils.py
Due: flake8

Rename server/views/api.py to server/views/api/__init__.py
  server/views/api/__init__.py
Due: flake8

Basic implementation of creating student profile
  server/models.py
  server/schemas.py
  server/views/api/__init__.py
  server/views/api/blueprint.py
  server/views/api/exceptions.py
  server/views/api/student_profile.py
  src/api.js
  tests/test_create_faculty_profile_custom_tag.py
  tests/test_create_student_profile.py
  tests/utils.py
Due: flake8, eslint

Support creating full student profile
  server/models.py
  server/schemas.py
  server/views/api/__init__.py
  server/views/api/student_profile.py
  server/views/api/utils.py
  tests/test_create_student_profile.py
Due: flake8

Ensure all fields can be set to faculty profiles
  server/models.py
  server/schemas.py
  server/views/api/__init__.py
  server/views/api/student_profile.py
  server/views/api/utils.py
  tests/test_create_student_profile.py
  tests/test_update_profile.py
Due: flake8

Refactor create_test_profile to not take token as argument
  tests/test_get_profiles_sorting.py
  tests/test_star_profile.py
  tests/test_update_profile.py
  tests/utils.py
Due: flake8

Update student profile endpoint
  server/schemas.py
  server/views/api/__init__.py
  server/views/api/student_profile.py
  server/views/api/utils.py
  tests/test_update_student_profile.py
  tests/utils.py
Due: flake8

Simplify wording of student group checkbox
  src/ProfileForm.js
Due: eslint

FacultyProfileForm with RoleSpecificFields
  src/CreateProfile.js
  src/EditProfile.js
  src/FacultyProfileForm.js
  src/Profile.js
  src/ProfileForm.js
  src/ProfileView.js
Due: eslint

Implement student program field
  server/queries.py
  src/App.js
  src/CreatePeerProfile.js
  src/CreateProfile.js
  src/HomeActions.js
  src/OwnProfileLink.js
  src/ProfileForm.js
  src/ProfileView.js
  src/StudentProfileForm.js
Due: flake8, eslint

wip able to create and edit student profile
  server/admin.py
  server/queries.py
  server/schemas.py
  server/views/api/__init__.py
  server/views/api/student_profile.py
  src/App.js
  src/CreatePeerProfile.js
  src/EditFacultyProfile.js
  src/EditProfile.js
  src/EditStudentProfile.js
  src/FacultyProfile.js
  src/FacultyProfileForm.js
  src/OwnProfileLink.js
  src/PreviewProfile.js
  src/Profile.js
  src/ProfileForm.js
  src/ProfileView.js
  src/RoleSpecificFacultyFields.js
  src/RoleSpecificFacultyProfileView.js
  src/RoleSpecificStudentFields.js
  src/RoleSpecificStudentProfileView.js
  src/StudentProfile.js
  src/StudentProfileForm.js
  src/api.js
  tests/test_create_minimal_student_profile.py
Due: flake8, eslint

wip fixing tests
  server/views/api/__init__.py
  tests/test_matching_profiles.py
  tests/test_query_profile_tags.py
  tests/test_update_availability.py
Due: flake8

Make peer-profiles browse student profiles
  server/queries.py
  server/views/api/__init__.py
  server/views/api/student_profile.py
  src/Browse.js
  src/BrowseFaculty.js
  src/BrowsePeerMentorship.js
  src/ProfileResult.js
  src/ResultsView.js
  src/SearchInput.js
  tests/test_matching_faculty_profiles.py
Due: flake8, eslint

Rough partitioning of peer-to-peer list view split off from /browse
  server/views/api.py
  src/App.js
  src/Browse.js
  src/BrowseFaculty.js
  src/BrowsePeerMentorship.js
  src/api.js
  tests/utils.py
Due: flake8, eslint

Path conditions:
  flake8: any of: \.py$
  eslint: any of: src/.+.js and \.(js|mjs|cjs)$
