Repository razzius/weave: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, eslint

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: pipenv run flake8

eslint:
  name: eslint
  stages:
  - commit
  language: system
  entry: yarn run eslint

Start to split base from faculty profile fields
  Pipfile
  server/models.py
  tests/test_student_profile.py
Due: flake8

Peer mentorship and link to tutorial video on home page
  src/App.css
  src/HomeActions.js
Due: eslint

Implement student program field
  server/queries.py
  src/App.js
  src/CreatePeerProfile.js
  src/CreateProfile.js
  src/HomeActions.js
  src/OwnProfileLink.js
  src/ProfileForm.js
  src/ProfileView.js
  src/StudentProfileForm.js
Due: flake8, eslint

Make starring profiles use verification email
  Pipfile.lock
  server/models.py
  server/queries.py
  server/views/api.py
  tests/test_get_profile.py
  tests/test_get_profiles.py
  tests/test_matching_profiles.py
  tests/test_star_profile.py
Due: flake8

Put "how to create profile" video on help page
  src/Help.js
Due: eslint

Update student profile endpoint
  server/schemas.py
  server/views/api/__init__.py
  server/views/api/student_profile.py
  server/views/api/utils.py
  tests/test_update_student_profile.py
  tests/utils.py
Due: flake8

Students and faculty should have link to "my profile" / "create profile" in top bar
  src/App.js
Due: eslint

Split out profile multi-select fields by faculty and student; complete student profile model
  server/models.py
  server/queries.py
  server/views/api.py
  tests/test_get_public_tags.py
  tests/test_query_profile_tags.py
  tests/test_query_searchable_tags.py
Due: flake8

Pass whether a profile belongs to faculty or student and use that to link to the appropriate list view
  server/schemas.py
  server/views/api.py
  src/HomeActions.js
  src/ProfileView.js
  src/api.js
Due: flake8, eslint

Rename Profile to FacultyProfile
  server/admin.py
  server/cli.py
  server/models.py
  server/queries.py
  server/views/api/__init__.py
  tests/test_custom_tag.py
  tests/test_get_public_tags.py
  tests/test_update_availability.py
  tests/test_update_profile.py
  tests/utils.py
Due: flake8

Add welcome message to home page and redirect to that upon successful login
  src/App.css
  src/Home.js
  src/VerifiedView.js
  src/VerifyEmail.js
Due: eslint

FacultyProfileForm with RoleSpecificFields
  src/CreateProfile.js
  src/EditProfile.js
  src/FacultyProfileForm.js
  src/Profile.js
  src/ProfileForm.js
  src/ProfileView.js
Due: eslint

Basic implementation of creating student profile
  server/models.py
  server/schemas.py
  server/views/api/__init__.py
  server/views/api/blueprint.py
  server/views/api/exceptions.py
  server/views/api/student_profile.py
  src/api.js
  tests/test_create_faculty_profile_custom_tag.py
  tests/test_create_student_profile.py
  tests/utils.py
Due: flake8, eslint

Rename server/views/api.py to server/views/api/__init__.py
  server/views/api/__init__.py
Due: flake8

Add ability to create and edit student profile
  server/admin.py
  server/queries.py
  server/schemas.py
  server/views/api/__init__.py
  server/views/api/student_profile.py
  src/App.js
  src/CreatePeerProfile.js
  src/EditFacultyProfile.js
  src/EditProfile.js
  src/EditStudentProfile.js
  src/FacultyProfile.js
  src/FacultyProfileForm.js
  src/OwnProfileLink.js
  src/PreviewProfile.js
  src/Profile.js
  src/ProfileForm.js
  src/ProfileView.js
  src/RoleSpecificFacultyFields.js
  src/RoleSpecificFacultyProfileView.js
  src/RoleSpecificStudentFields.js
  src/RoleSpecificStudentProfileView.js
  src/StudentProfile.js
  src/StudentProfileForm.js
  src/api.js
  tests/test_create_minimal_student_profile.py
  tests/test_matching_profiles.py
  tests/test_query_profile_tags.py
  tests/test_update_availability.py
Due: flake8, eslint

Make peer-profiles browse student profiles
  server/queries.py
  server/views/api/__init__.py
  server/views/api/student_profile.py
  src/Browse.js
  src/BrowseFaculty.js
  src/BrowsePeerMentorship.js
  src/ProfileResult.js
  src/ProfileView.js
  src/ResultsView.js
  src/SearchInput.js
  tests/test_matching_faculty_profiles.py
Due: flake8, eslint

Pass handleCreate for Faculty <RoleSpecificFields>
  src/ProfileForm.js
Due: eslint

Fix links to go back to list of profiles while viewing profile
  src/FacultyProfile.js
  src/Profile.js
  src/ProfileView.js
  src/StudentProfile.js
Due: eslint

Upgrade lodash and remove unused gh-pages
  package.json
  yarn.lock
Due: none

Implement student expectation checkboxes
  server/views/api/__init__.py
  server/views/api/student_profile.py
  src/EditFacultyProfile.js
  src/EditProfile.js
  src/EditStudentProfile.js
  src/ExpectationCheckbox.js
  src/ExpectationDisplay.js
  src/FacultyProfile.js
  src/FacultyProfileForm.js
  src/PreviewProfile.js
  src/Profile.js
  src/ProfileForm.js
  src/ProfileView.js
  src/RoleSpecificFacultyCheckboxes.js
  src/RoleSpecificFacultyExpectations.js
  src/RoleSpecificStudentCheckboxes.js
  src/RoleSpecificStudentExpectations.js
  src/StudentProfile.js
  src/StudentProfileForm.js
  src/api.js
Due: flake8, eslint

Render student profiles list with student fields
  server/views/api/__init__.py
  src/App.css
  src/Browse.js
  src/BrowseFaculty.js
  src/BrowsePeerMentorship.js
  src/CheckboxIndicator.js
  src/FacultyProfileResult.js
  src/FacultyResultsView.js
  src/ProfileResult.js
  src/ResultsView.js
  src/RoleSpecificStudentCheckboxes.js
  src/StudentProfileResult.js
  src/StudentResultsView.js
  src/api.js
Due: flake8, eslint

wip
  src/EditFacultyProfile.js
  src/EditProfile.js
  src/EditStudentProfile.js
  src/FacultyInstitutionalAffiliationsForm.js
  src/InstitutionalAffiliationsForm.js
  src/ProfileForm.js
  src/ProfileView.js
  src/RoleSpecificFacultyFields.js
  src/RoleSpecificFacultyProfileView.js
  src/RoleSpecificStudentCheckboxes.js
  src/RoleSpecificStudentExpectations.js
  src/RoleSpecificStudentFields.js
  src/RoleSpecificStudentProfileView.js
  src/StudentInstitutionalAffiliationsForm.js
Due: eslint

Align text in expectation checkboxes vertically rather than indenting checkbox
  src/App.css
Due: none

Make student hospital options show in the institutions filter
  server/queries.py
Due: flake8

Split student and faculty search tags, so if there's a result it's relevant to the specific search
  server/queries.py
  server/views/api/__init__.py
  src/Browse.js
  src/BrowseFaculty.js
  src/BrowsePeerMentorship.js
  src/api.js
Due: flake8, eslint

Pass affiliations to RoleSpecificFields
  src/ProfileForm.js
Due: eslint

Update tests to work with available tags api endpoint
  tests/test_get_public_tags.py
  tests/test_query_searchable_tags.py
Due: flake8

Linting
  src/FacultyInstitutionalAffiliationsForm.js
  src/FacultyProfileForm.js
  src/InstitutionalAffiliationsForm.js
  src/StudentProfileForm.js
Due: eslint

Change is_mentor to is_faculty in server/cli.py
  server/cli.py
Due: flake8

Change all is_mentor to is_faculty adn clean all previous commits
  server/models.py
  server/views/api/__init__.py
  tests/test_get_account.py
  tests/test_verify_token.py
Due: flake8

Change is_mentor to is_faculty, no errors on pipenv run flask create-admin and pipenv run flask create-session
  server/queries.py
  server/views/api/__init__.py
  tests/test_create_minimal_student_profile.py
  tests/test_create_student_profile.py
  tests/test_student_profile.py
  tests/test_update_availability.py
  tests/test_update_student_profile.py
  tests/utils.py
Due: flake8

Upgrade serialize-javascript
  yarn.lock
Due: none

Update api.js from response.is_mentor to reponse.is_faculty
  src/api.js
Due: eslint

Document Running Python tests
  README.md
Due: none

Change search placeholder text
  src/SearchInput.js
Due: eslint

Rename and reword student expectations
  server/models.py
  server/schemas.py
  server/views/api/student_profile.py
  src/ProfileForm.js
  src/ProfileView.js
  src/RoleSpecificStudentCheckboxes.js
  src/RoleSpecificStudentExpectations.js
  src/StudentProfileResult.js
  src/api.js
  tests/test_create_student_profile.py
Due: flake8, eslint

Reword email copy to accommodate student mentorship
  server/emails/__init__.py
Due: flake8

Update help page to include peer mentorship
  src/App.css
  src/Help.js
Due: eslint

Remove bolding from "Ways to use Weave"
  src/App.css
  src/Help.js
Due: eslint

Path conditions:
  flake8: any of: \.py$
  eslint: any of: src/.+.js and \.(js|mjs|cjs)$
