Repository razzius/weave: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, eslint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: flake8
    name: flake8
    stages: [commit]
    language: system
    entry: pipenv run flake8
    types: [python]
  - id: eslint
    name: eslint
    stages: [commit]
    language: system
    entry: yarn run eslint
    types: [javascript]
    files: src/.+.js
  - id: pytest
    name: pytest
    stages: [manual]
    language: system
    entry: pipenv run test
    types: [python]

Hacky fix to allow starring student as well as faculty profiles
  server/views/api/__init__.py
Due: flake8

Add SQLALCHEMY_ECHO environment variable
  server/app.py
Due: flake8

Fix unstarring profile
  server/views/api/__init__.py
Due: flake8

Bring back faculty result list degrees
  src/FacultyProfileResult.js
Due: eslint

Upgrade node-forge
  yarn.lock
Due: none

Upgrade http-proxy
  yarn.lock
Due: none

Specify yarn-version 1.22.4 in js builds
  .github/workflows/eslint.yml
  .github/workflows/flow.yml
  .github/workflows/jest.yml
Due: none

Specify yarn version via yarn policy
  .github/workflows/eslint.yml
  .github/workflows/flow.yml
  .github/workflows/jest.yml
Due: none

Add @fas.harvard.edu to valid domains
  src/valid_domains.json
Due: none

Start of SAML documentation
  README.md
Due: none

Comment out HarvardKey login
  src/Login.js
Due: eslint

Use email nameid
  server/app.py
Due: flake8

Working saml login with existing account
  Pipfile
  Pipfile.lock
  server/app.py
  server/saml.py
  src/Login.js
Due: flake8, eslint

Only configure saml if envvars are there
  server/app.py
Due: flake8

Try changing a workflow to debian from ubuntu
  .github/workflows/flake8.yml
Due: none

Change Dockerfile to use asdf for python, node, and yarn versions
  Dockerfile
Due: none

Change Dockerfile order for faster builds on frontend changes
  Dockerfile
Due: none

Add makefile for running latest docker container
  Makefile
Due: none

Switch colors and main image (should have a way to configure outside of source code)
  src/App.css
  src/assets/duke-college.jpg
Due: none

Center background, remove covid banner
  src/App.css
  src/Home.js
Due: eslint

Switching pipenv to poetry and updating stuff for Duke
  .flaskenv
  .gitignore
  Pipfile
  README.md
  Vagrantfile
  app.py
  poetry.lock
  public/assets/duke_health.png
  public/assets/duke_health_logo.png
  pyproject.toml
  saml.py
  scripts/servers.sh
  server/__init__.py
  server/cli.py
  server/schemas.py
  src/App.css
  src/App.js
  src/Help.js
  src/Home.js
  src/HomeActions.js
  src/Login.js
  src/RegisterFacultyEmail.js
  src/RegisterStudentEmail.js
  src/SubmitEmailForm.js
  src/valid_domains.json
  yarn.lock
Due: flake8, eslint

Update tests to work with new package versions
  Pipfile.lock
  app.py
  poetry.lock
  pyproject.toml
  server/current_time.py
  server/emails/console_email_backend.py
  server/models.py
  server/queries.py
  server/schemas.py
  server/session.py
  server/views/api/__init__.py
  server/views/api/student_profile.py
  server/views/api/utils.py
  tests/conftest.py
  tests/test_create_faculty_profile_custom_tag.py
  tests/test_create_minimal_student_profile.py
  tests/test_create_student_profile.py
  tests/test_get_account.py
  tests/test_get_profile.py
  tests/test_get_profiles.py
  tests/test_get_profiles_sorting.py
  tests/test_get_public_tags.py
  tests/test_logout.py
  tests/test_registration.py
  tests/test_star_profile.py
  tests/test_update_availability.py
  tests/test_update_profile.py
  tests/test_update_student_profile.py
  tests/test_verify_token.py
  tests/utils.py
Due: flake8

Switch out pipenv for poetry in Dockerfile
  .github/workflows/flake8.yml
  Dockerfile
  Makefile
  Pipfile
  README.md
  Vagrantfile
  app.py
  package.json
  poetry.lock
  pyproject.toml
  server/schemas.py
  src/hospitals.js
  tests/conftest.py
  yarn.lock
Due: flake8, eslint

Switch flake8 build to use poetry
  .github/workflows/flake8.yml
  poetry.lock
  pyproject.toml
  server/emails/__init__.py
  server/session.py
  server/views/api/__init__.py
Due: flake8

Use poetry everywhere with new poe command runner
  .github/workflows/mypy.yml
  .github/workflows/pytest.yml
  .pre-commit-config.yaml
  Procfile
  app.json
  mypy.ini
  poetry.lock
  pyproject.toml
  server/emails/__init__.py
  server/models.py
  server/queries.py
  server/schemas.py
  server/views/api/__init__.py
Due: flake8

Start removing flow types
  .eslintrc.js
  .flowconfig
  .github/workflows/flow.yml
  flow-typed/npm/react-router-dom_v5.x.x.js
  package.json
  src/Browse.js
  src/CreatableTagSelect.js
  src/EditProfile.js
  src/RoleSpecificStudentExpectations.js
  src/RoleSpecificStudentProfileView.js
  src/SearchInput.js
  src/SubmitEmailForm.js
  yarn.lock
Due: eslint

Prettier js
  package.json
  src/About.js
  src/App.js
  src/Browse.js
  src/BrowseFaculty.js
  src/CheckboxIndicator.js
  src/CreatableInputOnly.js
  src/CreatableTagSelect.js
  src/CreatePeerProfile.js
  src/CreateProfile.js
  src/EditProfile.js
  src/FacultyProfileForm.js
  src/FacultyProfileResult.js
  src/FacultySlider.js
  src/Help.js
  src/InstitutionalAffiliationsForm.js
  src/PreviewProfile.js
  src/ProfileForm.js
  src/ProfileStar.js
  src/ProfileView.js
  src/Resources.js
  src/ResultsView.js
  src/SearchInput.js
  src/StudentProfileForm.js
  src/StudentProfileResult.js
  src/StudentSlider.js
  src/SubmitEmailForm.js
  src/api.js
  src/index.css
  src/options.js
  src/utils.js
  src/valid_domains.json
  yarn.lock
Due: eslint

Make flake8 use ubuntu 22.04
  .github/workflows/flake8.yml
Due: none

Update workflows to ubuntu 22.04
  .github/workflows/eslint.yml
  .github/workflows/jest.yml
  .github/workflows/mypy.yml
  .github/workflows/pytest.yml
Due: none

Wip upgrading yarn to 1.22.19
  .github/workflows/eslint.yml
  .github/workflows/jest.yml
  Dockerfile
  Vagrantfile
  package.json
  src/index.js
  yarn.lock
Due: eslint

Upgrades and remove flow types
  .eslintrc.js
  package.json
  src/CreatableInputOnly.js
  src/CreatableTagSelect.js
  src/EditProfile.js
  src/FacultyProfileForm.js
  src/Home.js
  src/HomeActions.js
  src/Profile.js
  src/ProfileForm.js
  src/RegisterFacultyEmail.js
  src/RegisterStudentEmail.js
  src/SearchInput.js
  src/StudentProfileForm.js
  src/api.js
  src/index.js
  yarn.lock
Due: eslint

Use node version 16.20.2
  .github/workflows/eslint.yml
  .github/workflows/jest.yml
  Dockerfile
Due: none

Fresh vagrantfile with debian 12
  .github/workflows/pytest.yml
  README.md
  Vagrantfile
  provision.sh
Due: none

Update src/App.test.js to latest react render
  src/App.test.js
Due: eslint

Try changing port mapping for postgres
  .github/workflows/pytest.yml
Due: none

Consistent postgres version
  tests/conftest.py
Due: flake8

Use password for postgres janitor
  tests/conftest.py
Due: flake8

Upgrade psycopg to latest
  .github/workflows/pytest.yml
  README.md
  app.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
Due: flake8

Yield database connect?
  tests/conftest.py
Due: flake8

Use test db in test
  .github/workflows/pytest.yml
  tests/conftest.py
Due: flake8
