Repository razzius/weave: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, eslint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: flake8
    name: flake8
    stages: [commit]
    language: system
    entry: pipenv run flake8
    types: [python]
  - id: eslint
    name: eslint
    stages: [commit]
    language: system
    entry: yarn run eslint
    types: [javascript]
    files: src/.+.js
  - id: pytest
    name: pytest
    stages: [manual]
    language: system
    entry: pipenv run test
    types: [python]

Add test that users cannot verify logged_out token
  tests/test_verify_token.py
Due: flake8

Successfully verifying token logs out other tokens of that email
  server/models.py
  server/session.py
  server/views/api.py
  tests/test_verify_token.py
Due: flake8

Working test with flask-login session
  tests/conftest.py
  tests/test_custom_tag.py
Due: flake8

Disable CORS on production
  server/app.py
Due: flake8

Update some tests and make pytest not need tests directory argument to collect quickly using testpaths
  Pipfile
  pytest.ini
  tests/conftest.py
  tests/test_get_profile.py
  tests/test_get_profiles.py
  tests/test_get_profiles_sorting.py
Due: flake8

Always use pipfile.lock for testing python stuff
  .github/workflows/flake8.yml
  .github/workflows/mypy.yml
  .github/workflows/pytest.yml
Due: none

Update Pipfile.lock
  Pipfile.lock
Due: none

Rework error handling to handle not being logged in
  src/App.js
  src/SubmitEmailForm.js
  src/VerifyEmail.js
  src/api.js
Due: eslint

Move version meta tag up
  public/index.html
Due: none

Better error handling and cast Toggle enabled to Boolean
  src/App.js
  src/Profile.js
Due: eslint

Clean up error handling to be json and remove debug-user view
  server/auth.py
  server/views/home.py
Due: flake8

get_profile @flask_login.login_required
  server/views/api.py
Due: flake8

Fix links to own profile to be absolute
  src/App.js
Due: eslint

Implement structured logging and do not log any tokens or login links
  Pipfile
  Pipfile.lock
  server/admin.py
  server/app.py
  server/auth.py
  server/emails/__init__.py
  server/models.py
  server/session.py
  server/views/api.py
  tests/test_registration.py
Due: flake8

wip
  server/auth.py
  server/views/api.py
  src/Browse.js
Due: flake8, eslint

Upgrade react-tooltip, though it still resizes and is off-center
  package.json
  yarn.lock
Due: none

Add cli command create_admin
  server/cli.py
Due: flake8

Properly handle invalid logins and add strong session protection
  server/auth.py
  server/models.py
  server/views/api.py
Due: flake8

Fix browse location state and handle logged out
  src/Browse.js
Due: eslint

Make verifying logged_out token return unauthorized, not login timeout
  tests/test_verify_token.py
Due: flake8

Set SameSite to Strict
  server/app.py
Due: flake8

Set session cookie SameSite to Strict in production
  server/app.py
Due: flake8

Remove console.log
  src/Browse.js
Due: eslint

Use proxy for api requests in development
  package.json
  src/api.js
  src/settings.js
Due: eslint

Disable CORS in development and set SESSION_COOKIE_SECURE
  Pipfile
  Pipfile.lock
  server/app.py
Due: flake8

Remove obsolete comment
  src/App.js
Due: eslint

Make login token only work once
  server/views/api.py
  src/App.js
  src/VerifyEmail.js
  src/api.js
  tests/test_get_account.py
Due: flake8, eslint

Validate token at /api/account
  server/auth.py
  server/views/api.py
  tests/test_get_account.py
Due: flake8

Notify user if they are logged out while loading their account
  src/api.js
Due: eslint

Re-word "link has been used" language
  src/VerifyEmail.js
Due: eslint

Put "how to create profile" video on help page
  src/Help.js
Due: eslint

Add welcome message to home page and redirect to that upon successful login
  src/App.css
  src/Home.js
  src/VerifiedView.js
  src/VerifyEmail.js
Due: eslint

Peer mentorship and link to tutorial video on home page
  src/App.css
  src/HomeActions.js
Due: eslint

Rough partitioning of peer-to-peer list view split off from /browse
  server/views/api.py
  src/App.js
  src/Browse.js
  src/BrowseFaculty.js
  src/BrowsePeerMentorship.js
  src/api.js
  tests/utils.py
Due: flake8, eslint

Renamed is_mentor to is_faculty on server->views-> models.py
  .vagrant/machines/default/virtualbox/action_provision
  .vagrant/machines/default/virtualbox/action_set_name
  .vagrant/machines/default/virtualbox/box_meta
  .vagrant/machines/default/virtualbox/creator_uid
  .vagrant/machines/default/virtualbox/id
  .vagrant/machines/default/virtualbox/index_uuid
  .vagrant/machines/default/virtualbox/private_key
  .vagrant/machines/default/virtualbox/synced_folders
  .vagrant/machines/default/virtualbox/vagrant_cwd
  .vagrant/rgloader/loader.rb
  .vscode/settings.json
  README.md
  server/models.py
  ubuntu-bionic-18.04-cloudimg-console.log
Due: flake8

Documented how to run test in ReadMe.md, line:96
  README.md
Due: none

Fix get_verification_url
  server/emails/__init__.py
Due: flake8
